/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

/* Common styles  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.btn-primary{
    background-color:#FF900E;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 14px 25px;
    border-radius: 5px;

}

main{
    width: 1140px;
    margin: 0 auto;
}

/* Header styles  */
header{
    background: #FFF4E7;
    padding-bottom: 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}

.logo{
    font-size: 45px;
    font-weight: 700;
    color:#131313;
}
.menu{
    display: flex;
}

.menu-item{
    list-style: none;
}
.menu-item a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    margin-left: 45px;
}


/* Hero section  */
.hero{
    text-align: center;
    margin: 50px 180px;
}

.hero-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.hero-text{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin: 30px 0;
    line-height: 26px;
}

.banner-image{
    width: 100%;
}

/* Our Features  */
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.team{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

.team img{
    width: 300px;
}

.feature-title{
    font-size: 45px;
    font-weight: 700;
}

.light{
    color: #727272;
    font-weight: 400;
}

.primary{
    color: #FF900E;
}

.feature-text{
    color:#727272;
    font-weight: 400;
    font-size: 15px;
    margin: 15px 0 30px;
    line-height: 25px;
}


/* Some facts  */
.fact{
    margin-top: 20px;
}
.fact-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.fact-text{
    font-weight: 400;
    font-size: 16px;
    margin: 20px 50% 60px 0;
    line-height: 25px;
}
.fact-cards{
    display: flex;
    gap: 70px;
    justify-content: center;
}
.card{
    border:1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 25px;
    transition: 0.4s;
}

.card:hover{
    background:#FFF4E7;
    transform: scale(1.1);
    color:#fff;
    cursor: pointer;
}
.card-title{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}
.card-text{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}

/* Sponsor  */
.sponsor-section{
    margin: 100px 0;
}
.sponsor{
    text-align: center;
    padding: 0 28%;
}

.sponsor-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sponsor-list img{
    filter: grayscale(100%);
    height: 38px;
}

.sponsor-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

.sponsor-text{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin: 28px 0 40px;
    line-height: 25px;
}


/* footer styles  */
.footer{
    margin:0 0 100px ;
}
.footer-container{
    margin: 0 150px; 
    background:#FFF4E7;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
/* More features  */
.more-feature{
    display: flex;
    gap: 90px;
    margin-top: 100px;
}

.feature-content{
    width: 50%;
}

.feature-image{
    width: 50%;
    text-align: right;
}

.feature-image img{
    width: 100%;
}
.experience{
    width: 320px;
    height: 170px;
    padding:30px;
    text-align: center;
    background-color: #FF900E;
    color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transform: translate(-60px,-105px);
}
.experience-title{
    font-size:60px;
    font-weight:700;
    
}
.experience-text{
    font-size: 25px;
    font-weight: 500;
}

.more-feature-box{
    padding-left: 20px;
    border-left: 4px solid #FF900E;
}
.more-feature-title{
    font-size: 45px;
    font-weight: 700;
    color:#131313;
}
.more-feature-text{
    font-size: 16px;
    font-weight: 400;
    color:#727272;
    line-height: 26px;
    margin: 15px 0;
}

.more-feature-card{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    padding: 15px 20px 20px;
    border-radius: 8px;
}

.secondary-title{
    font-size: 20px;
    font-weight: 600;
}

.secondary-text, .eliips{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    line-height: 26px;
    margin-top: 10px;
}
.eliips{
    margin-top:0;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.eliips:hover{
    overflow: visible;
}

/* Contact us section  */
.contact-container{
    padding: 50px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 100px;
}
.contact-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.left{
    width: 28%;
    border-right:2px solid #FF900E;
    text-align: center;
}
.right{
    width: 72%;
    padding-right: 50px;
}

input[type='text'], input[type='email'], textarea{
    display: block;
    width: 100%;
    padding:14px;
    background: #ff8f0e13;
    border: 1px solid #ff8f0e13;
    margin:10px 0;
    border-radius: 5px;
}

.fa-location-dot, .fa-phone, .fa-envelope{
    font-size: 26px;
    color:#FF900E;
}

.phone{
    margin:30px 0;
}
.left-title{
    font-size: 22px;
    font-weight: 600;
    color:#131313;
    margin:8px 0 3px;
}

.left-text, .right-text{
    font-size: 16px;
    font-weight: 400;
    color:#727272;
    line-height: 25px;
}
.right-title{
    color: #FF900E;
    font-size: 30px;
    font-weight: 700;
}
.right-text{
    margin:10px 0 20px;
    
}

/* Responsive design  */
@media only screen and (max-width:576px){
    main, .container{width: 100%;}
    nav{
        flex-direction: column;
    }
    .logo{
        text-align: center;
        font-size: 40px;
        padding-top: 20px;
    }

    .hero{
        margin: 50px 20px;
    }
    .menu-item a{
        margin-left: 0;
        padding: 0 10px;
    }
    .menu{
        padding-top: 20px;
        justify-content: space-between;
    }
    .hero-title{
        font-size: 50px;
    }

    .banner-image{
        margin: 0 20px;
        width: 90%;
    }

    .features{
        flex-direction: column-reverse;
        gap: 25px;
    }

    .team{
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }

    .team img{
        width: 100%;
    }

    .content{
        padding: 20px;
        text-align: center;
    }

    .fact{
        margin-top: 50px;
        padding: 0 20px;
    }

    .fact-cards{
        flex-direction: column;
        gap: 30px;
        padding: 0 20px;
    }
    .fact-text{margin: 20px 20px 60px 0;}
    .card{
        padding:50px 15px;
    }
    .sponsor{
        padding: 0 20px;
    }
    .sponsor-list{
        flex-wrap: wrap;
        padding: 0 20px;
        gap: 15px;
        justify-content: center;
    }
    .sponsor-list img{
       width: 70px;
        height: auto;
    }
    .footer{
        margin:0 0 20px ;
    }
    .footer-container{
        margin: 0 20px; 
    }

    /* More feature responsive  */
    .more-feature{
        display: flex;
        gap: 30px;
        flex-direction: column;
        padding: 20px;
    }
    
    .feature-content{
        width: 100%;
    }
    
    .feature-image{
        width: 100%;
        text-align: center;
    }
    
    .experience{
        width: 87%;
        height: 160px;
        padding:20px;
        position: static;
        transform: translate(0,15px);
        margin: 0 auto;
    }
    .experience-title{
        font-size:50px;
        font-weight:700;
        
    }

    .more-feature-box{
        padding-left: 10px;
    }
    .more-feature-title{
        font-size: 40px;
    }
    
    .more-feature-card{
        padding: 10px 15px 15px;
    }
    
    /* Contact us section  */
.contact-container{
    padding: 15px;
    margin: 0 20px 80px;
}
.contact-us{
    flex-direction: column;
    gap: 30px;
}
.left{
    width: 100%;
    border-right: 0;
    border-bottom:2px solid #FF900E;
    padding-bottom: 40px;
}
.right{
    width: 100%;
    padding-right: 0px;
}

input[type='text'], input[type='email'], textarea{
    width: 90%;
    padding:14px;
}


}

